<div class="card text-center">
    <div class="card-header">
      estacionamiento
    </div>
    <div class="card-body">
      <h5 class="card-title">Bienvenido a su estacionamiento!</h5>
      <p class="card-text">Aqui podra llevar el control de entradas y salidas de vehiculos.</p>
      <p class="card-text">si desea ver sus vehiculos,dar click en el siguiente boton:</p>
      <a  routerLink="/vehiculos" routerLinkActive="active" class="btn btn-primary">vehiculos</a>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
