<div class="panel panel-default">
    <div class="panel-heading">
      <h3>REGISTRAR RESERVA</h3>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="ReservarVehiculo()">
        <div class="form-group">
          <label for="type">VEHICULOS</label>
          <select class="form-control"  name="type" [(ngModel)]="vehiculoSelec" (change)="onSelectVehiculo($event)">
            <option *ngFor="let vehiculo of vehiculos" [ngValue]="vehiculo">
            {{vehiculo.placa}} - {{vehiculo.tipoVehiculo.nombre}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="type">PUESTOS LIBRES</label>
          <select class="form-control"  name="type" [(ngModel)]="puestoSelec" (change)="onSelectPuesto($event)">
            <option *ngFor="let puesto of puestos" [ngValue]="puesto" >
            {{puesto.idPuesto}}-{{puesto.tipoPuestoVehiculo}}
            </option>
          </select>
        </div>
        <button class="btn btn-success" type="submit">REGISTRAR</button>
      </form>
    </div>
  </div>
  <br>
  <div class="alert alert-success" role="alert" [hidden]="submit">
    ¡REGISTRO EXITOSO!
  </div>
  <div class="alert alert-danger" role="alert" [hidden]="apiError">
    {{ apiErrorMessage }}
  </div>

