<div class="panel panel-default">
    <div class="panel-heading">
      <h3>PUESTOS</h3>
    </div>
    <div class="panel-body">
      <table class="table table-strped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let puesto of puestos | async">
            <td>{{ puesto.idPuesto }}</td>
            <td>{{ puesto.tipoPuestoVehiculo }}</td>
            <td>{{ puesto.estado }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

