<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/puestos" routerLinkActive="active">PUESTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculos" routerLinkActive="active">VEHÍCULOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tickets" routerLinkActive="active">RESERVAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activeTickets" routerLinkActive="active">RESERVAS ACTIVAS</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="container">
  <router-outlet></router-outlet>
</section>
<footer class="footer font-small navbar-light bg-light">
  <div class="footer-copyright text-center py-3">
    <a href="https://github.com/hikozzaru/Ceiba-Estacionamiento/tree/master/Front" target="_blank">Sergio Villamizar © 2019</a>
  </div>
</footer>